body {
    background-color:#ffffff;
}

header,
section,
footer {
    padding:30px;
}

a href {
  color:#ffb6c1;
  font-family:'newsreader', georgia;
  text-align:center;
  font-size:20px;
}

h1 {
  color:#ffb6c1;
  font-family:'newsreader', georgia;
  text-align:center;
  font-size:80px;
}

h2 {
  color:#FFEBCD;
  font-family:'newsreader', georgia;
  text-align:center;
  font-size:35px;
}

h3 {
  color:#ffb6c1;
  font-family:'newsreader', georgia;
  text-align:left;
  font-size:30px;
}

p {
  color:#000000;
  font-family:tahoma;
  text-align:left;
  font-size:20px;
  line-height:2;
  margin: 15px 0;
}

ul {
  color:#000000;
  font-family:tahoma;
  font-size:20px;
  text-align:left;
  line-height:2;
  margin: 15px 0;
}

a {
  color:#ffb6c1;
  font-family:'newsreader', georgia;
  text-align:center;
  font-size:30px;
}

.left {
  width:25%;
  float:left;
  padding:15px;
}

.right {
  width:25%;
  float:right;
  padding:15px;
}
