body {
    background-color:#ffffff;
    margin:15px 15px 15px 15px

}

header,
section,
footer {
    padding:10px;
}

.box {
  padding: 30px;
}

a {
  color:#000000;
  font-family:Tahoma
  font-size: 25px;
}

h1 {
  color:#ffb6c1;
  font-family:'newsreader', georgia;
  text-align:center;
  font-size:80px;
}

h2 {
  color:#FFEBCD;
  font-family:'newsreader', georgia;
  text-align:center;
  font-size:35px;
}

h3 {
  color:#ffb6c1;
  font-family:'newsreader', georgia;
  text-align:left;
  font-size:30px;
}

p {
  color:#000000;
  font-family:tahoma;
  text-align:left;
  font-size:20px;
  line-height:2;
  margin: 15px 15px 15px 15px;
}

.ul {
  color:#000000;
  font-family:tahoma;
  font-size:20px;
  text-align:left;
  line-height:2;
  margin: 15px 0;
}

.left {
  width:25%;
  float:left;
  padding:15px;
}

.right {
  width:25%;
  float:right;
  padding:15px;
}

html {
  height:100%;
}

nav {
  max-width: 100%;
  margin: 10px;
  padding: 10px;
  background-color:#000000;
}

nav ul {
  text-align: center;
  padding: 0px 0px 0px 30px;
  background-color:#000000;
}

nav ul li {
  display: inline-block;
}
nav ul li a {
  padding: 28px;
  font-family: Tahoma;
  text-transform:uppercase;
  color:#ffb6c1;
  font-size: 20px;
  text-decoration: underline;
  display: block;
}
nav ul li a:hover {
  box-shadow:#ffffff;
  background:#000000;
  color:rgba(189, 151, 187, 1);
}
